<!-- Footer -->
<footer class='page-footer font-small blue pt-4 bg-dark'>
  <!-- Footer Links -->
  <div class='container-fluid text-center text-md-left'>
    <!-- Grid row -->
    <div class='row'>
      <!-- Grid column -->
      <div class='col-md-6 mt-md-0 mt-3'>
        <!-- Content -->
        <h5 class='text-uppercase'>
          <%= link_to 'GYM', root_path, class: 'navbar-brand text-white' %>
        </h5>
      </div>
      <!-- Grid column -->
      <hr class='clearfix w-100 d-md-none pb-3'>
      <!-- Grid column -->
      <div class='col-md-3 mb-md-0 mb-3'>
        <!-- Links -->
        <ul class='list-unstyled'>
          <li>
            <%= link_to 'Home', root_path, class: 'text-white' %>
          </li>
          <li>
            <%= link_to 'About', 'javascript:void(0)', class: 'text-white' %>
          </li>
          <li>
            <%= link_to 'Contact', new_contact_path, class: 'text-white' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class='footer-copyright text-center py-3 text-white'>© 2021 Copyright:
    <a href='javascript:void(0)' class='text-white'>Amazon.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
