<div class='container mt-2'>
  <div class='col-md-8 mx-auto'>
    <div class='card bg-light mb-3 p-3'>
      <div class='card-title'>
        <%= link_to 'Show', @product, class: 'btn btn-info' %>
        <%= link_to 'Back', products_path, class: 'btn btn-light' %>
        <h1 class='text-center'>Editing Product</h1>
      </div>
      <div class='card-body'>
        <%= render 'form', product: @product %>
      </div>  
    </div>    
  </div>
</div>
